<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>教师工作台</title>
</head>
<body style="height: 100%; width: 100%">
<div id="header">
    <header-template :show-exit="showExit"></header-template>
</div>

<div id="test" style="height: 100%">
    <div class="container contentBoundary" style="margin: 0; width: 100%; height: 100%">
        <div class="row" style="height: 100%">
            <div class="col-md-3" style="height : 75%; font-size: larger; margin-left:3%; background-color: cornflowerblue">
                <table class="table">
                    <caption style="font-weight: 200">个人信息</caption>
                    <tbody>
                    <tr>
                        <td>姓名：</td>
                        <td>{{teacherInfo.name}}</td>
                    </tr>
                    <tr>
                        <td>工号：</td>
                        <td>{{teacherInfo.username}}</td>
                    </tr>
                    <tr>
                        <td>学院：</td>
                        <td>{{teacherInfo.department_name}}</td>
                    </tr>
                    <tr>
                        <td>专业：</td>
                        <td>{{teacherInfo.major_name}}</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="list-group" style="margin-top: 30% ">
                    <li class="list-group-item" @click="switchPage('lessonPage')">课程管理</li>
                    <li class="list-group-item" @click="switchPage('testPaperPage')">试卷管理</li>
                    <li class="list-group-item" @click="switchPage('scorePage')">成绩管理</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 rightDiv">
                <div class="rollControl" style="height: 100%">
                    <div v-show="pageShowController.lessonPage" class="showPageDiv">
                        <table class="table">
                            <caption style="font-weight: 200" class="lessonAddButton">
                                <h2 style="display: inline">个人课程</h2>
                                <h4 class="btn btn-primary" style="display: inline; margin-left:60%; margin-right: 10%" @click="showLessonAddPage">添加课程</h4>
                            </caption>
                            <thead>
                            <tr>
                                <th>课程名称</th>
                                <th>归属学院</th>
                                <th>归属专业</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody class="infoTableTd">
                            <tr v-for="(val) in lessonsInfo">
                                <td>{{val.name}}</td>
                                <td>{{val.department_name}}</td>
                                <td>{{val.major_name}}</td>
                                <td>{{new Date(val.time).toLocaleDateString()}}</td>
                                <td class="btn btn-primary" @click="deleteLesson(val.id)">作废</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-show="pageShowController.testPaperPage" class="showPageDiv">
                        <table class="table">
                            <caption style="font-weight: 200" class="lessonAddButton">
                                <h2 style="display: inline">个人试卷</h2>
                                <h4 class="btn btn-primary" style="display: inline; margin-left:60%; margin-right: 10%" @click="showExamAddPage">新建试卷</h4>
                            </caption>
                            <thead>
                            <tr>
                                <th>试卷名称</th>
                                <th>课程名称</th>
                                <th>专业</th>
                                <th>时间</th>
                                <th>时长</th>
                                <th>编辑</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody class="infoTableTd">
                            <tr v-for="(val) in exams" @dblclick="showExamQuestionEditDiv(val)">
                                <td>{{val.name}}</td>
                                <td>{{val.lesson_name}}</td>
                                <td>{{val.major_name}}</td>
                                <td>{{header.getTimeFormat(val.time)}}</td>
                                <td>{{val.duration + '分钟'}}</td>
                                <td><button class="btn btn-primary" @click="showExamEditPage(val)">编辑</button></td>
                                <td><button class="btn btn-primary" @click="deleteExam(val.id)">作废</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-show="pageShowController.scorePage" class="showPageDiv">
                        <table class="table">
                            <caption style="font-weight: 200" class="lessonAddButton">
                                <h2 style="display: inline">个人试卷</h2>
                            </caption>
                            <thead>
                            <tr>
                                <th>试卷名称</th>
                                <th>课程名称</th>
                                <th>学院</th>
                                <th>专业</th>
                                <th>时间</th>
                                <th>时长</th>
                            </tr>
                            </thead>
                            <tbody class="infoTableTd">
                            <tr v-for="(val) in examOfFinished" @click="studentInfoDivSwitch(val)">
                                <td>{{val.name}}</td>
                                <td>{{val.lesson_name}}</td>
                                <td>{{val.department_name}}</td>
                                <td>{{val.major_name}}</td>
                                <td>{{header.getTimeFormat(val.time)}}</td>
                                <td>{{val.duration + '分钟'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <!--弹出层-->
    <!--添加课程-->
    <div v-if="lessonAddPageShow" class="contentBoundary rollControl">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-left: 5%; padding: 5%">
            <div class="modal-header">
                <button type="button" class="close" @click="showLessonAddPage">&times;</button>
                <h4 class="modal-title">请输入课程信息</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                    <td>课程名称 ： </td>
                    <td>
                        <label>
                            <input type="text" class="form-control" v-model="newLesson.name">
                        </label>
                    </td>
                    </tr>
                    <tr>
                    <td>归属学院 ： </td>
                        <td>
                            <label>
                                <select name="department" class="form-control" v-model="newLesson.department_id"
                                        required>
                                    <option v-for="(val) in departmentData" v-bind:value="val.id">{{val.name}}</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                    <td>归属专业 ： </td>
                        <td>
                            <label>
                                <select name="major" class="form-control" v-model="newLesson.major_id" required>
                                    <option v-for="(val) in majorData" v-bind:value="val.id">{{val.name}}</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" @click="showLessonAddPage">关闭</button>
                <button type="button" class="btn btn-primary" @click="addLesson">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>

    <!--添加试卷 编辑试卷-->
    <div v-if="examAddPageShow" class="contentBoundary rollControl">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left: 5%; padding: 5%">
                <div class="modal-header">
                    <button type="button" class="close" @click="showExamAddPage">&times;</button>
                    <h4 class="modal-title">请编辑考试信息</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tbody>
                        <tr>
                        <td>考试名称 ： </td>
                        <td>
                            <label>
                            <input type="text" class="form-control" v-model="newExam.name">
                            </label>
                        </td>
                        </tr>
                        <tr>
                        <td>所属课程 ： </td>
                        <td>
                            <label>
                            <select class="form-control" v-model="newExam.lesson_id" required >
                                <option v-for="(val) in lessonsInfo" v-bind:value="val.id">{{val.name}}--{{new Date(val.time).toLocaleDateString()}}</option>
                            </select>
                              </label>
                        </td>
                        </tr>
                        <tr>
                        <td>考试时间 ： </td>
                        <td>
                            <label>
                            <input type="datetime-local" class="form-control" v-model="newExam.releaseTime"  required>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <td>考试时长 ： </td>
                        <td><label>
                            <input type="number" class="form-control" v-model="newExam.duration" required>
                        </label>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <input type="submit" class="form-control" value="添加考试" v-if="examAddControl"
                           style="width:100%;height:60px;background-color:steelblue;color:#fff;font-weight:bold;font-size:20px;" @click="doExamEdit">
                    <input type="submit" class="form-control" value="确认修改" v-if="examEditControl"
                           style="width:100%;height:60px;background-color:steelblue;color:#fff;font-weight:bold;font-size:20px;" @click="doExamEdit">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="showExamAddPage">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--编辑试卷内容-->
    <div v-if="examQuestionEditControl" class="examQuestionEditDiv rollControl">
        <div>
            <table class="table">
                <caption>
                    <h2 style="display: inline">考试信息</h2>
                    <h4 class="btn btn-primary" style="display: inline; margin-left:83%; margin-right: 10%" @click="showExamQuestionEditDiv()">退出编辑</h4>
                </caption>
                <thead>
                <tr>
                    <th>试卷名称</th>
                    <th>课程名称</th>
                    <th>教　　师</th>
                    <th>学　　院</th>
                    <th>专　　业</th>
                    <th>时　　间</th>
                    <th>时　　长</th>
                </tr>
                </thead>
                <tbody class="infoTableTd">
                <tr>
                    <td>{{examInfoOfEdited.name}}</td>
                    <td>{{examInfoOfEdited.lesson_name}}</td>
                    <td>{{examInfoOfEdited.teacher_name}}</td>
                    <td>{{examInfoOfEdited.department_name}}</td>
                    <td>{{examInfoOfEdited.major_name}}</td>
                    <td>{{header.getTimeFormat(examInfoOfEdited.time) }}</td>
                    <td>{{examInfoOfEdited.duration + '分钟'}}</td>
                </tr>
                </tbody>
            </table><br><br>
            <div style="width: 100%; height: 100%">
                <div style="width: 100%; height: 100%">
                    <h3 style="display: inline">选择题</h3>
                    <h4 class="btn btn-primary" style="display: inline; margin-left:75%" @click="showNewChoiceQuestionAddDiv">添加新题</h4>
                    <h4 class="btn btn-primary" style="display: inline; margin-left:5%" @click="toHistoryChoicePage">题库导入</h4>
                </div>
                <br>
                <div class="list-group" v-for="(val, index) in choiceQuestions">
                    <div href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">
                            <label style="display: inline">{{index+1}}、{{val.description}}({{val.score}} 分)</label>
                        </h4>
                        <label class="btn btn-primary" style="background-color:red; display: block; margin-left:95%; margin-right: 0" @click="deleteExamQuestion(val.examInfoId, 1, examInfoOfEdited.id)">删除</label>
                    </div>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading" style="display: inline">
                            A：
                        </h4>
                        <p class="list-group-item-text" style="display: inline">
                            {{val.optionA}}
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading" style="display: inline">
                            B：
                        </h4>
                        <p class="list-group-item-text" style="display: inline">
                            {{val.optionB}}
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading" style="display: inline">
                            C：
                        </h4>
                        <p class="list-group-item-text" style="display: inline">
                            {{val.optionC}}
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading" style="display: inline">
                            D：
                        </h4>
                        <p class="list-group-item-text" style="display: inline">
                            {{val.optionD}}
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading" style="display: inline">
                        答案：
                    </h4>
                    <p class="list-group-item-text" style="display: inline">
                        {{
                        String.fromCharCode("A".charCodeAt() + val.answer - 1)
                        }}
                    </p>
                    </a>
                </div>
            </div>
            <br><br><br><br>
            <div style="width: 100%; height: 100%">
                <h3 style="display: inline">客观题</h3>
                <h4 class="btn btn-primary" style="display: inline; margin-left:75%" @click="showNewObjectiveQuestionAddDivControl">添加新题</h4>
                <h4 class="btn btn-primary" style="display: inline; margin-left:5%" @click="toHistoryObjectivePage">题库导入</h4>
            </div>
            <br>
            <div class="list-group" v-for="(val, index) in objectiveQuestions">
                <div class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        <label style="display: inline">{{index+1}}、{{val.description}}({{val.score}} 分)</label>
                    </h4>
                    <label class="btn btn-primary" style="background-color:red; display: block; margin-left:95%; margin-right: 0" @click="deleteExamQuestion(val.examInfoId, 2, examInfoOfEdited.id)">删除</label>
                    <div style="height: 100%;width: 100%">
                        <label style="width: 100%; height: 100%;">
                            <input type="text" style="width: 100%; height: 100px">
                        </label>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>

    <!--添加选择题-->
    <div v-if="examChoiceQuestionAddDivControl" class="contentBoundary rollControl">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left: 5%; padding: 5%">
                <div class="modal-header">
                    <button type="button" class="close" @click="showNewChoiceQuestionAddDiv">&times;</button>
                    <h4 class="modal-title">请输入课程信息</h4>
                </div>
                <div class="modal-body">
                    <table><tbody>
                    <tr>
                        <td>题目描述 ： </td>
                        <td><label>
                            <textarea class="form-control" STYLE="height: 100px" v-model="newChoiceQuestion.description" required>
                            </textarea>
                        </label>
                        </td>
                    </tr>
                    <tr>
                        <td>选　项A ： </td>
                        <td><label>
                            <input type="text" class="form-control" v-model="newChoiceQuestion.optionA" required>
                        </label>
                        </td>
                    </tr>
                    <tr>
                        <td>选　项B ： </td>
                        <td><label>
                            <input type="text" class="form-control" v-model="newChoiceQuestion.optionB" required>
                        </label>
                        </td>
                    </tr>
                    <tr>
                        <td>选　项C ： </td>
                        <td><label>
                            <input type="text" class="form-control" v-model="newChoiceQuestion.optionC" required>
                        </label>
                        </td>
                    </tr>
                    <tr>
                        <td>选　项D ： </td>
                        <td><label>
                            <input type="text" class="form-control" v-model="newChoiceQuestion.optionD" required>
                        </label>
                        </td>
                    </tr>
                    <tr>
                        <td>答　　案 ： </td>
                        <td><label>
                            <select class="form-control" v-model="newChoiceQuestion.answer" required >
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                        </label>
                        </td>
                    </tr>
                    <tr>
                        <td>分　　值 ： </td>
                        <td><label>
                            <input type="number" class="form-control" v-model="newChoiceQuestion.score" required>
                        </label>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="showNewChoiceQuestionAddDiv">关闭</button>
                    <button type="button" class="btn btn-primary" @click="addNewChoiceQuestion">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--添加客观题-->
    <div v-if="examObjectiveQuestionAddDivControl" class="contentBoundary rollControl">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left: 5%; padding: 5%">
                <div class="modal-header">
                    <button type="button" class="close" @click="showNewObjectiveQuestionAddDivControl">&times;</button>
                    <h4 class="modal-title">请输入课程信息</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tbody>
                        <tr>
                        <td>题目描述 ： </td>
                        <td><label>
                            <textarea  class="form-control" STYLE="height: 100px" v-model="newObjectiveQuestion.description" required>
                            </textarea>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <td>分　　值 ： </td>
                        <td><label>
                            <input type="number" class="form-control" v-model="newObjectiveQuestion.score" required>
                        </label>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="showNewObjectiveQuestionAddDivControl">关闭</button>
                    <button type="button" class="btn btn-primary" @click="addNewObjectiveQuestion">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--考试学生界面-->
    <div v-if="studentInfoOfFinishExamControl" class="examQuestionEditDiv rollControl">
        <div>
            <table class="table">
                <caption>
                    <h2 style="display: inline">考试信息</h2>
                    <h4 class="btn btn-primary" style="display: inline; margin-left:83%; margin-right: 10%" @click="studentInfoDivSwitch('')">退出</h4>
                </caption>
                <thead>
                <tr>
                    <th>试卷名称</th>
                    <th>课程名称</th>
                    <th>教师</th>
                    <th>学院</th>
                    <th>专业</th>
                    <th>时间</th>
                    <th>时长</th>
                </tr>
                </thead>
                <tbody class="infoTableTd">
                <tr>
                    <td>{{examInfoOfEdited.name}}</td>
                    <td>{{examInfoOfEdited.lesson_name}}</td>
                    <td>{{examInfoOfEdited.teacher_name}}</td>
                    <td>{{examInfoOfEdited.department_name}}</td>
                    <td>{{examInfoOfEdited.major_name}}</td>
                    <td>{{header.getTimeFormat(examInfoOfEdited.time) }}</td>
                    <td>{{examInfoOfEdited.duration + '分钟'}}</td>
                </tr>
                </tbody>
            </table><br><br>
            <table class="table">
                <caption>
                    <h2 style="display: inline">完成考试学生信息</h2>
                </caption>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>学院</th>
                    <th>专业</th>
                    <th>得分</th>
                </tr>
                </thead>
                <tbody class="infoTableTd">
                <tr v-for="(val, index) in studentInfoOfFinishExam" @click="answerOfStudentDivSwitch(val)">
                    <td>{{index+1}}</td>
                    <td>{{val.username}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.department_name}}</td>
                    <td>{{val.major_name}}</td>
                    <td>({{val.score_choice}} + {{val.score_objective}})/{{val.score_max}} --> {{((val.score_choice+val.score_objective)*100/val.score_max).toFixed(2)}}</td>
                </tr>
                </tbody>
            </table><br><br>
        </div>
    </div>
    <!--改卷界面-->
    <div v-if="answerOfStudentDivControl" class="examQuestionEditDiv rollControl">
        <div>
            <h2 style="display: inline">客观题</h2>
            <h3 class="btn btn-primary" style="display: inline; margin-left:80%; margin-right: 0" @click="answerOfStudentDivSwitch('')">退出</h3>
            <br><br><br>
            <div class="list-group" v-for="(val, index) in objectiveQuestionOfStudentDone">
                <div class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        {{index+1}}、{{val.description}}({{val.score}} 分)
                    </h4>
                    <div class="btn btn-primary" style="background-color:red; display: block; margin-left:86%; margin-right: 1%">
                        分数：<label style="margin-bottom: -1%">
                        <input class="form-control" style="display: inline" v-model="val.scoreOfGet" type="number" :max="val.score" min="0" required>
                    </label>&ensp;&ensp;&ensp;&ensp;
                    </div>
                    <div style="height: 100%;width: 100%">
                        <label style="width: 100%; height: 100%">
                            <textarea rows="20" cols="20" style="width: 100%; background-color: white; color: #0f0f0f" v-model="val.answer" disabled>
                            </textarea>
                        </label>
                    </div>
                </div>
            </div>
            <br><br><br>
            <label class="btn btn-primary"
                   style="background-color:red; display: block;height:80px; font-size: 48px; margin-left:25%; margin-right: 25%"
                    @click="submitAnswer()">改卷完成</label>
            <br><br><br><br><br><br>
        </div>
    </div>

    <!--添加历史选择题-->
    <div v-if="getHistoryControl.choice" class="contentBoundary rollControl">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left: 5%; padding: 5%">
                <div class="modal-header">
                    <button type="button" class="close" @click="toHistoryChoicePage">&times;</button>
                    <h4 class="modal-title">历史题库选择题信息</h4>
                    <div>
                        <label>学院 ：
                            <select name="department" class="form-control" v-model="historyParam.departmentId" style="display: inline"
                                    required>
                                <option v-for="(val) in departmentData" v-bind:value="val.id">{{val.name}}</option>
                            </select>
                        </label>
                        <label>专业 ：
                            <select name="major" class="form-control" v-model="historyParam.majorId"  style="display: inline" required>
                                <option v-for="(val) in majorData" v-bind:value="val.id">{{val.name}}</option>
                            </select>
                        </label>
                        <button class="btn btn-primary" @click="getHistory(1)">查询</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="list-group" v-for="(val, index) in historyChoiceQuestions">
                        <div href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                <label style="display: inline">{{index+1}}、{{val.description}}({{val.score}} 分)</label>
                            </h4>
                            <label class="btn btn-primary" style="background-color:forestgreen; display: block; margin-left:80%; margin-right: 0" @click="addHistoryQuestion(1, val.id)">添加</label>
                        </div>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading" style="display: inline">
                                A：
                            </h4>
                            <p class="list-group-item-text" style="display: inline">
                                {{val.optionA}}
                            </p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading" style="display: inline">
                                B：
                            </h4>
                            <p class="list-group-item-text" style="display: inline">
                                {{val.optionB}}
                            </p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading" style="display: inline">
                                C：
                            </h4>
                            <p class="list-group-item-text" style="display: inline">
                                {{val.optionC}}
                            </p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading" style="display: inline">
                                D：
                            </h4>
                            <p class="list-group-item-text" style="display: inline">
                                {{val.optionD}}
                            </p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading" style="display: inline">
                                答案：
                            </h4>
                            <p class="list-group-item-text" style="display: inline">
                                {{
                                String.fromCharCode("A".charCodeAt() + val.answer - 1)
                                }}
                            </p>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="toHistoryChoicePage">关闭</button>
                    <button type="button" class="btn btn-primary" @click="">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--添加历史客观题-->
    <div v-if="getHistoryControl.objective" class="contentBoundary rollControl">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left: 5%; padding: 5%">
                <div class="modal-header">
                    <button type="button" class="close" @click="toHistoryObjectivePage">&times;</button>
                    <h4 class="modal-title">历史题库客观题信息</h4>
                    <div>
                        <label>学院 ：
                            <select name="department" class="form-control" v-model="historyParam.departmentId" style="display: inline"
                                    required>
                                <option v-for="(val) in departmentData" v-bind:value="val.id">{{val.name}}</option>
                            </select>
                        </label>
                        <label>专业 ：
                            <select name="major" class="form-control" v-model="historyParam.majorId"  style="display: inline" required>
                                <option v-for="(val) in majorData" v-bind:value="val.id">{{val.name}}</option>
                            </select>
                        </label>
                        <button class="btn btn-primary" @click="getHistory(2)">查询</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="list-group" v-for="(val, index) in historyObjectiveQuestions">
                        <div href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                <label style="display: inline">{{index+1}}、{{val.description}}({{val.score}} 分)</label>
                            </h4>
                            <label class="btn btn-primary" style="background-color:forestgreen; display: block; margin-left:80%; margin-right: 0" @click="addHistoryQuestion(2, val.id)">添加</label>
                        </div>
                        <div style="height: 100%;width: 100%">
                            <label style="width: 100%; height: 100%;">
                                <input type="text" style="width: 100%; height: 100px">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="toHistoryObjectivePage">关闭</button>
                    <button type="button" class="btn btn-primary" @click="">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<div id="footer">
    <footer-template></footer-template>
</div>

</body>
<link href="/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<script src="/lib/vue/vue.min.js"></script>
<script src="/lib/vue/axios.min.js"></script>
<script src="/lib/base64.js"></script>
<link href="/css/boundary.css" type="text/css" rel="stylesheet"/>
<script src="/js/boundary.js"></script>

<link href="/css/teacher.css" type="text/css" rel="stylesheet">
<script src="/js/teacher.js"></script>
</html>