<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wk.system.examination.entity.dao.ExamInfoMapper">
    <insert id="insert" parameterType="examInfo">
        INSERT INTO examInfo(exam_id, question_id, type)
                VALUES (#{exam_id}, #{question_id}, #{type})
    </insert>

    <update id="delete">
        UPDATE examInfo SET status = -1
        WHERE id = #{id}
    </update>

    <select id="getExamQuestionsByExamIdAndType" resultType="map">
        SELECT a.id AS examInfoId, b.*
        FROM examInfo a
        <if test="type == 1">
            LEFT JOIN choiceQuestion b ON a.question_id = b.id
        </if>
        <if test="type == 2">
            LEFT JOIN objectiveQuestion b ON a.question_id = b.id
        </if>
        WHERE a.exam_id = #{examId} AND a.type = #{type} AND a.status = 0
    </select>
</mapper>