<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wk.system.examination.entity.dao.ObjectiveQuestionMapper">
    <insert id="insert" parameterType="objectiveQuestion">
        INSERT INTO objectivequestion(description, department_id, major_id, teacher_id)
                VALUES (#{description}, #{department_id}, #{major_id}, #{teacher_id})
    </insert>
</mapper>