<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wk.system.examination.entity.dao.ObjectiveQuestionMapper">
    <insert id="insert" parameterType="objectiveQuestion">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO objectiveQuestion(description, score, department_id, major_id, teacher_id)
                VALUES (#{description}, #{score} , #{department_id}, #{major_id}, #{teacher_id})
    </insert>

    <select id="selectById" resultType="objectiveQuestion">
        SELECT *
        FROM objectivequestion
        WHERE id = #{id}
    </select>

    <select id="getHistory" resultType="map">
        SELECT *
        FROM objectivequestion
        WHERE 1=1
        <if test="department_id">
           AND department_id = #{department_id}
        </if>
        <if test="major_id">
            AND major_id = #{major_id}
        </if>
        ORDER BY updated_time DESC
    </select>
</mapper>